#### 데이터 불러오기 

- 생활 vs 상주 인구데이터

In [12]:
import pandas as pd
pd.set_option('max_columns', 100, 'max_rows', 20)

ppl_df = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-생활인구)_2016to2021_2quarter.csv')

price_df = pd.read_csv('서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016to2021_2quarter.csv')
print('상권-생활인구: {}'.format(ppl_df.shape))

상권-생활인구: (32881, 532)

#### 남성연령대별 생활인구수, 여성연령대별 생활인구수 구하기

In [13]:
live_df = ppl_df.copy()

# 남성연령대 연령대별 생활인구수
live_df['남성연령대 10대 생활인구수'] = live_df.filter(regex='남성연령대_10').sum(axis=1)
live_df['남성연령대 20대 생활인구수'] = live_df.filter(regex='남성연령대_20').sum(axis=1)
live_df['남성연령대 30대 생활인구수'] = live_df.filter(regex='남성연령대_30').sum(axis=1)
live_df['남성연령대 40대 생활인구수'] = live_df.filter(regex='남성연령대_40').sum(axis=1)
live_df['남성연령대 50대 생활인구수'] = live_df.filter(regex='남성연령대_50').sum(axis=1)
live_df['남성연령대 60대 생활인구수'] = live_df.filter(regex='남성연령대_60').sum(axis=1)


# 여성연령대 연령대별 생활인구수
live_df['여성연령대 10대 생활인구수'] = live_df.filter(regex='여성연령대_10').sum(axis=1)
live_df['여성연령대 20대 생활인구수'] = live_df.filter(regex='여성연령대_20').sum(axis=1)
live_df['여성연령대 30대 생활인구수'] = live_df.filter(regex='여성연령대_30').sum(axis=1)
live_df['여성연령대 40대 생활인구수'] = live_df.filter(regex='여성연령대_40').sum(axis=1)
live_df['여성연령대 50대 생활인구수'] = live_df.filter(regex='여성연령대_50').sum(axis=1)
live_df['여성연령대 60대 생활인구수'] = live_df.filter(regex='여성연령대_60').sum(axis=1)

# 6개 칼럼에 대해 merge하기 위해서 조금씩 다른 동일 칼럼들의 이름을 일치시킴
live_df.rename(columns={'기준 년코드':'기준_년_코드', ' 상권_구분_코드_명':'상권_구분_코드_명'}, inplace=True)

In [21]:
tmp_df1 = live_df.iloc[:, :15]
tmp_df2 = live_df.filter(regex='남성연령대 ')
tmp_df3 = live_df.filter(regex='여성연령대 ')

live_df_selected = pd.concat([tmp_df1, tmp_df2, tmp_df3], axis=1)

In [ ]:
live_df_selected.to_csv('./Data/서울시 우리마을가게 상권분석서비스(상권-추정매출)_수정본.csv')

In [ ]:
data_price.to_csv('./Data/서울시 우리마을가게 상권분석서비스(상권-추정매출)_수정본.csv')

#### 상권 정보

In [56]:
find_value = (price_df.groupby(['상권_코드','서비스_업종_코드_명'])[['기준_년_코드','기준_분기_코드']].count() == 22).reset_index()
find_value = find_value[(find_value['기준_년_코드'] == True)]

In [124]:
commercial_code = []
service_type_code = []
for i in find_value['상권_코드'].unique():
    commercial_code.append(i)
    value_list = []
    find_value_part = find_value[find_value['상권_코드'] == i]
    for j in find_value_part['서비스_업종_코드_명'].unique():
        value_list.append(j)
        value_list = list(set(value_list))
    service_type_code.append(value_list)

In [133]:
selected_data = []
for num,i in enumerate(commercial_code):  # 각 상권코드를 가지고 와서 query문으로 데이터 정제
    price_df_1 = price_df[price_df['상권_코드'] == i]
    find_servicetype_list = service_type_code[num]
    
    price_df_2 = price_df_1.query('서비스_업종_코드_명 in @ find_servicetype_list')    
    # 상권코드와 조합되는 서비스 업종 코드명으로 데이터 정제 후 저장
    
    selected_data.append(price_df_2)

In [139]:
data_price = pd.concat(selected_data)

In [141]:
data_price.to_csv('./Data/서울시 우리마을가게 상권분석서비스(상권-추정매출)_수정본.csv')